%h2 All Aspects

%table.table
  %thead
    %tr
      %th Name
      %th Position

      %th
  %tbody
    - for aspect <- @aspects do
      %tr
      %td= link aspect.name, to: aspect_path(@conn, :show, aspect)
      %td= aspect.position

      %td.text-right
        = link "Delete", to: aspect_path(@conn, :delete, aspect), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New aspect", to: aspect_path(@conn, :new), class: "btn btn-default btn-xs"
