.admin{
  margin: 50px auto;
  padding-bottom: 20px;
  background: white;
}

.annotation-toggle{
  display: inline-block;
  margin: 0 20px 0 0;
}

.aspect-anchor{
  margin-bottom: 34px;
}

.aspect-panel{
  margin-bottom: 0px !important;
}

.panel-heading .pull-right{
  margin-left: 10px;
}

.section-panel img{
  margin: 10px;
  max-width: 95%;
  display: block;
}
