/* FILTER PAGE */

ul.filter-list{
  list-style: none;
  padding: 0px;
}

ul.filter-list li{
}

.filterbutton{
  background-color: grey;
}

.checked{
  background-color: green;
}


/* SEARCH RESULTS PAGE */

ul.serch-results-list{
  list-style: none;
  padding: 0px;
}

