/* CRITERION PAGE */

ul.option-list{
  list-style: none;
  padding: 0px;
}

ul.option-list li{
}

.optionbutton{
  width: 100%;
  background-color: grey;
  outline: none;
}

.checked{
  background-color: green;
}


/* SEARCH RESULTS PAGE */

ul.serch-results-list{
  list-style: none;
  padding: 0px;
}

