html.elm-layout,
html.elm-layout body{
  background: #d6dce6 !important;
}

body{
  padding-top: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#elm-main,body,html{
  color: #222;
  font-size: 110%;
}

#elm-main h2{
  margin-top: 1.4em;
  text-align: center;
}

#elm-main h2,
#elm-main h3,
#elm-main h4,
#elm-main p{
  padding-left: 10px;
  padding-right: 10px;
}

#elm-results-preview{
  width: 100%;
  position: fixed;
  top: 80px;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 40, 0, .8);
  color: rgba(0,0,0,.8);
  font-weight: 500;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#elm-header{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202830;
  height: 80px;
  width: 100%;
}

#elm-header button{
  outline: none;
  border: none;
}

#elm-header button,#elm-page-number{
  background-color: transparent;
  color: white;
  text-align: center;
  height: 80px;
  width: 25%;
  position: fixed;
  top: 0;
}

#elm-page-number{
  left: 25%;
  padding-top: 24px;
}

.elm-help-button{
  left: 50%;
}

#elm-header button:last-of-type{
  right: 0;
}

/* ASPECT PAGE */

ul.elm-options{
  list-style: none;
  padding: 0px;
}

ul.elm-options li{
}

.elm-optionbutton{
  width: 100%;
  text-align: left;
  background-color: #257;
  color: rgba(255,255,255,.6);
  outline: none;
  border: none;
  margin: 1px 0;
  padding: .8em;
}

.elm-checked{
  background-color: #4cb5f5;
  color: #222;
}

.elm-optionbutton .glyphicon{
  margin-right: .8em;
}

.elm-user-message{
  position: fixed;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
}

.elm-help{
  margin-top: -60px;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}

.elm-help.visible{
  margin-top: 10px;
}



/* Search results page */

ul.elm-search-results{
  list-style: none;
  padding: 0;
  margin: 0 5px;
}

ul.elm-search-results li{
  margin-top: 30px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 20px rgba(0, 10, 0, .3);
}

ul.elm-search-results li .panel-heading{
  font-weight: 500;
}

/* Chosen Activity page */

.elm-chosen-activity{
  margin-top: 50px;
}

.elm-chosen-activity img{
  margin: 10px;
  max-width: 95%;
  display: block;
}
