%h2 Edit paragraph

= render "form.html", changeset: @changeset, action: section_paragraph_path(@conn, :update, @paragraph.section, @paragraph)

= link "Back", to: activity_section_path(@conn, :show, @paragraph.section.activity, @paragraph.section)
