%h2 New paragraph

= render "form.html", changeset: @changeset, action: section_paragraph_path(@conn, :create, @section)

= link "Back", to: activity_section_path(@conn, :show, @section.activity, @section)
