.container
  %h2 Über KoLibris
  %p
    KoLibris stellt Lehrkräften kompositionspädagogisches Unterrichtsmaterial zur Verfügung.
  %p
    Das Projekt wurde von Meike Senker 2016 als Teil ihrer Masterarbeit initiiert.
