.container
  %h2 Über KoLibris
  %p
    KoLibris stellt Lehrkräften kompositionspädagogisches Unterrichtsmaterial zur Verfügung.
  %p
    Das Projekt wurde von Meike Senker 2016 als Teil ihrer Masterarbeit initiiert.
  %p
    Meike Senker (*1990) schloss den Master Integrative Musiktheorie mit Schwerpunkt Didaktik bei Prof. Matthias Schlothfeldt an der Folkwang Universität der Künste Essen ab. Darüberhinaus studierte sie Instrumentalausbildung (Gitarre) und Musikpädagogik mit den Schwerpunkten Instrumentalpädagogik und Musiktheorie.
  %p
    Seit Oktober 2016 studiert sie den Masterstudiengang instrumentale Komposition bei Prof. Johannes Schöllhorn an der HfMT Köln. Sie unterrichtet Komposition, Gehörbildung, Harmonielehre und Liedbegleitung an der städtischen Musikschule Dortmund. Darüber hinaus ist sie als Kompositionspädagogin bei diversen Projekten tätig. In der Vergangenheit z.B. beim interdisziplinären Projekt Ensemble Ruhr & Kidz oder dem Kammermusikkurs der Musikschule Dortmund. Weiterhin hat sie Fortbildungen zum Thema Komponieren von Anfang an!? über Komponieren im Jekits-Orchester gegeben. Zur Zeit konzipiert sie KoLibris, eine freie online Bibliothek für Kompositionsaufgaben, die Lehrkräften kompositionspädagogisches Material für den Instrumentalunterricht zur Verfügung stellt.
