.container
  %h1 Aufgaben erstellen
  %p
    Wenn Sie eine selbst erstellte Kompositionsaufgabe auf KoLibris veröffentlichen möchten, schicken Sie diese bitte an
    %a(href="mailto:kolibris@web.de") kolibris@web.de
  %p Bitte beachten Sie, dass nur solche Aufgaben in den KoLibris-Katalog aufgenommen werden können, die den folgenden Kriterien entsprechen. Ihre Einsendung wird persönlich geprüft und ggf. online gestellt.

  %h2 Kriterien zum Erstellen von Kompositionsaufgaben

  %h3 1. Die Kompositionsaufgabe wird als Anreiz verstanden
  %p Die Kompositionsaufgabe kann auf vielfältige Arten bearbeitet werden. Es gibt keine eindeutige Lösung. Die Schülerinnen und Schüler müssen bestimmen können auf welcher Art und Weise sie kompositorisch an einen Anreiz anknüpfen möchten und/oder den Inhalt bestimmen, mit dem sie kompositorisch umgehen möchten. Der Anreiz darf nicht zu komplex sein und soll gleichzeitig ganz nach Fähigkeit der Schülerin oder des Schülers einfache wie komplexere Ideen anregen können.

  %h3 2. Unterrichtsschritte
  %p Die Aufgabe soll es Schülerinnen und Schülern ermöglichen ein musikalisch-kompositorisches Anliegen zu entwickeln. Sie soll dazu auffordern musikalisches Material zu erforschen und musikalisch zu experimentieren. Teil der Aufgabe ist Planung, Reflexion und Treffen musikalischer Entscheidungen. Dabei soll immer wieder zum praktischen Ausprobieren aufgefordert werden. Am Ende wird das Ergebnis verbindlich festgehalten -  entweder als schriftliches Notat oder in einer anderen Form (z.B. als Aufnahme ).

  %h3 3. Bezugnahme auf den Lernkontext
  %p Die Aufgabe soll sich an Lernzielen und -inhalten des Instrumentalunterrichts orientieren. Sie kann sich auf Literaturspiel, Erarbeiten von Spieltechniken, Musiktheorie, explorative Aufgaben oder gegebene Themen oder Inhalte beziehen. Auch offene Aufgaben sind möglich.

  %h3 4. Rückhalt und Rückhaltlosigkeit
  %p Die Aufgabe soll Schülerinnen und Schüler dazu anregen die musikalischen Mittel ausgehend von ihrem Anliegen selbst zu entwickeln. Wenn konkrete musikalische Mittel angeregt werden, sollen sie als eine von vielen Möglichkeiten vorgeschlagen werden. Gleichzeitig sollen die Fragestellungen offen bzw. öffnend gestellt sein und gegebenenfalls ein Anliegen auf musikalische Möglichkeiten lenken.

  %h3 5. Stilistische Offenheit
  %p Die Kompositionsaufgaben sollen stilistisch öffnen und keine reinen Stilübungen für Neue Musik sein. Es kann, aber es muss dabei nicht um Neue Musik gehen. Entscheidend ist mehr, dass das was komponiert wird für Schülerinnen und Schüler im Bezug auf ihren musikalischen Kontext bzw. kulturellen Hintergrund neu ist.

  %h3 6. Aufbau
  %p Die Aufgaben beginnen mit einer kurzen Zusammenfassung. Benötigte Materialien werden aufgelistet. Falls Vorbereitungen nötig sind, werden diese erklärt. Anschließend werden die erforderlichen Unterrichtsschritte erläutert (ggf. stichpunktartig). Auch konkrete Fragen können benannt werden.

  %h3 7. Geschlechtergerechte Sprache
  %p Die Aufgaben sind in einer geschlechtergerechten Sprache geschrieben.

  %h2 Rechtliche Bedingungen

  Die Veröffentlichung auf KoLibris ist gemeinnützig, freiwillig, unentgeltlich und nicht exklusiv. Eine kommerzielle Nutzung ist ausgeschlossen. Mit dem Einsenden von Aufgaben erklären die jeweiligen Autoren ihr Einverständnis mit der Veröffentlichung auf KoLibris unter den bekannten Bedingungen. Das intellektuelle Eigentum an veröffentlichen Aufgaben bleibt bei den jeweiligen Autoren. Auf Wunsch können Autoren ihre eigenen, bereits veröffentlicheten Aufgaben jederzeit wieder aus dem Katalog entfernen lassen - Email genügt.
