.container
  %h1 Impressum
  %p Inhaltlich verantwortlich gemäß § 6 MDStV:
  %p
    Meike Senker
    %br
    Herkulesstr 111
    %br
    50823 Köln
    %br
    %a(href="mailto:kolibris@web.de") kolibris@web.de

  %h3 Haftungshinweis
  Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
